.terminal-fab {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  padding: 10px;
  border: none;
  background-color: rgba($grey, 0.8);
  color: $black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  transition: background-color 0.3s, color 0.3s;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 9998;

  &:hover {
    background-color: $primary-orange;
    color: #fff;
  }
}

[data-theme="dark"] {
  .terminal-fab {
    background-color: rgba($black, 0.8);
    border: 2px solid $white;
    color: $white;

    &:hover {
      background-color: $primary-orange;
      border-color: $primary-orange;
    }
  }
}
